@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Source+Code+Pro:400);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
ol, ul {
  list-style: none;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

img {
  max-width: 100%;
}

body {
  background: #fff;
}

.hidden {
  display: none;
}